#accountTitle {
  text-align: center;
  margin-top: 10px;
}
#line {
  margin-top: 5px;
  color: grey;
}

#fname-account,
#lname-account,
#username-account,
#password-account,
#dob-account,
#email-account,
#mailing-address-account,
#pendingpoints-account,
#points-account {
  margin-top: 20px;
}

#points-account {
  margin-bottom: 20px;
}

#history-table {
  border-bottom: 1px solid #ddd;
}

.top-accountpage {
  margin-top: 10px;
}

.box1 {
  display: inline-block;
  margin-top: 20px;
  width: 300px;
  height: 200px;
  background: white;
  border-style: solid;
}

#button1 {
  margin-left: 120px;
  margin-bottom: 20px;
}

#id-table #id-text,
#date-table #date-text,
#name-table #name-text,
#book-table #book-text,
#status-table #status-text {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  font-size: 10px;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
}

#id-table #id-text::after,
#date-table #date-text::after,
#name-table #name-text::after,
#book-table #book-text::after,
#status-table #status-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

#id-table:hover #id-text,
#date-table:hover #date-text,
#name-table:hover #name-text,
#book-table:hover #book-text,
#status-table:hover #status-text {
  visibility: visible;
  opacity: 1;
}

/*Hover feature for ID*/
#id-table #id-text {
  width: 100px;
  margin-left: -60px;
  margin-top: -45px;
}

/*Hover feature for date*/
#date-table #date-text {
  width: 100px;
  margin-left: -70px;
  margin-top: -60px;
}

/*Hover feature for name*/
#name-table #name-text {
  width: 150px;
  margin-left: -100px;
  margin-top: -45px;
}

/*Hover feature for book*/
#book-table #book-text {
  width: 100px;
  margin-left: -75px;
  margin-top: -45px;
}

/*Hover feature for status*/
#status-table #status-text {
  width: 100px;
  margin-left: -80px;
  margin-top: -30px;
}

body {
  background-color: #f9f9fa
}

.padding {
  padding: 1rem !important
}

.user-card-full {
  overflow: hidden
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px
}

.m-r-0 {
  margin-right: 0px
}

.m-l-0 {
  margin-left: 0px
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px
}

.bg-c-lite-green {
  background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
  background: linear-gradient(to right, #ee5a6f, #f29263)
}

.user-profile {
  padding: 20px 0
}

.card-block {
  padding: 1.25rem
}

.m-b-25 {
  margin-bottom: 25px
}

.img-radius {
  border-radius: 5px
}

h6 {
  font-size: 14px
}

.card .card-block p {
  line-height: 25px
}

@media only screen and (min-width: 1400px) {
  p {
      font-size: 14px
  }
}

.card-block {
  padding: 1.25rem
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.m-b-20 {
  margin-bottom: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.card .card-block p {
  line-height: 25px
}

.m-b-10 {
  margin-bottom: 10px
}

.text-muted {
  color: #919aa3 !important
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0
}

.f-w-600 {
  font-weight: 600
}

.m-b-20 {
  margin-bottom: 20px
}

.m-t-40 {
  margin-top: 20px
}

.p-b-5 {
  padding-bottom: 5px !important
}

.m-b-10 {
  margin-bottom: 10px
}

.m-t-40 {
  margin-top: 20px
}

.user-card-full .social-link li {
  display: inline-block
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}